@mixin font($fs, $lh, $fw, $col){
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}

.s {
    @include font(1.6rem, 2.6rem,#42446E)
}

.m {
    @include font(1.8rem, 2.6rem, 300, #666)
}

.l {
    @include font(3.2rem, 2.6rem, 400, #42446E)
}